{% set title = title | default(_('TITLE')) -%}
{% macro list_pastes(pastes, truncate_width=30) -%}
    {% for paste in pastes -%}
        <p>
            <a href="/{{ paste.id }}">[{{ paste.id }}]</a>
            {% if paste.isProtected and not auth_verify(paste.id, auth_pass) and paste.owner != session_id %}
            {{_('[PROTECTED]')}}
            {% else %}
            {{ paste.content | truncate(truncate_width, true) | e }}
            {% endif %}

            {% if paste.owner == session_id %}<a href="/edit.php?id={{ paste.id }}">[{{_('EDIT')}}]</a>{% endif %}
        </p>
    {%- endfor %}
{%- endmacro %}
<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}{{ title }}{% endblock %}</title>
{% block head %}
    <link rel="stylesheet" href="/static/css/github-markdown.css">
    <link rel="stylesheet" href="/static/css/cat.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% endblock %}
</head>

<body class="markdown-body">
    <!-- content -->
{% block body %}
{% endblock %}
    <!-- Footer -->
{% block footer %}
<center><hr /></center>

<!-- Links -->
{% if links %}
<div style='margin: 15px; text-align: center'>
    <a target='_blank' href='https://maomihz.com'>猫猫的博客</a> |
    <a target='_blank' href='https://hivechat.org'>Hive! LAN Chat</a> |
    <a target='_blank' href='https://leaferx.github.io'>LeaferX Lab</a>
</div>
{% endif %}
<div>
    <center>&copy; 2017 &hearts; MaomiHz | {{ version }}</center>
</div>
{% endblock %}
</body>
</html>
