{% extends "base.html" %}
{% block body %}
    <a href='/'>{{_('[HOME]')}}</a>
{% if paste %}
<h3>{{_('EDIT')}} [{{ paste.id }}] {% if paste.isProtected %}{{_('[PASSWORD_PROTECTED]')}}{%endif%}</h3>
<form action="/edit.do?id={{ paste.id }}" method="POST" accept-charset="utf-8">
    <div><textarea name="content" style="width:100%;height:300px">{{ paste.content }}</textarea></div>
    {{_('CHANGE_PASSWORD')}}
    <div><input name="password" type="password"></div>
    <input type="checkbox" name="rmpass" value="1"> {{_('REMOVE_PASSWORD')}}
    <div><center><input type="submit" value="Submit"></center></div>
    <div></div>
</form>
{% else %}
<div><p>{{_('CONTENT_NOT_FOUND')}}</p></div>
{% endif %}
{% endblock %}
