{% extends "base.html" %}
{% block title %}{{ super() }} - {{_('MAIN_PAGE')}}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <p>{{_('LANG_MANU')}} <a href="?resetpass=1">{{_('[RESET_PASS]')}}</a></p>

    <!-- Input form -->
    <div>
    <form action="/short.do" method='POST' accept-charset="utf-8">
        <div>
            {{_('CONTENT_URL')}}
            <textarea name="content" rows="8" required></textarea></div>
            {{_('PASSWORD')}}
            <div><input name="password" type="password"></div>
        <div><input type="submit" value="{{_('SUBMIT')}}"></div>
    </form>
    </div>

    {{_('INTRO') | markdown }}

    <!-- Recent Pastes -->
    <h2>{{_('RECENT_PASTES')}}</h2>
    {{ list_pastes(recent_pastes, 100) }}
    <a href='/0'>{{_('[MORE]')}}</a>
{% endblock %}
