<p style="float:right">
    <a href="/{{ paste.id }}">{{_('[PLAIN_TEXT]')}}</a>
    <a href="/{{ paste.id }}/raw">{{_('[RAW]')}}</a>
</p>

<div style="clear:both">
    {{ paste.content | markdown | bleach }}
</div>
