<p style="float:right">
    {% if paste.owner and paste.owner == session_id %}
    <a href="/edit.php?id={{ paste.id }}">{{_('[EDIT]')}}</a>
    {% endif %}
    <a href="/{{ paste.id }}/md">{{_('[MARKDOWN]')}}</a>
    <a href="/{{ paste.id }}/raw">{{_('[RAW]')}}</a>
</p>

<div style="clear:both">
<pre id="content">{{ paste.content | e }}</pre>
</div>

<script>
    var clipboard = new Clipboard('.btn');
    clipboard.on("success", function(e) {
        document.getElementById("urlcopy").value = "{{_('COPIED')}}";
        e.clearSelection();
    });

    clipboard.on("error", function(e) {
        document.getElementById("urlcopy").value = "{{_('COPY_MANUALLY')}}";
    });
</script>

<input type="button" id="urlcopy" class="btn" data-clipboard-target="#content" value="{{_('COPY_ALL')}}"
<br>
<p>Posted by <i>{{ paste.author }}</i> at {{ paste.date.strftime('%F %T') }} UTC</p>
