{% extends "base.html" %}
{% block title %}{{_('Generated Short URL')}}{% endblock %}
{% block head %}
{{ super() }}
    <script src="/static/js/clipboard.min.js"></script>
{% endblock %}

{% block body %}
{% if not error_type %}
    <script>
        var clipboard = new Clipboard('.btn');
        clipboard.on("success", function(e) {
            document.getElementById("urlcopy").value = "{{_('COPIED')}}";
            e.clearSelection();
        });

        clipboard.on("error", function(e) {
            document.getElementById("urlcopy").value = "{{_('COPY_MANUALLY')}}";
        });
    </script>

    <h2>{{_('SHORT_URL_GENERATED')}}</h2>
    <div><input type='text' id='url' value="{{ host_url }}/{{ paste.id }}">
    <input class='btn' id='urlcopy' type='submit' data-clipboard-target="#url" value='{{_('COPY')}}'>
{% elif error_type == "too_long" %}
    <div style='margin:10px'>
    <p>{{_('CONTENT_TOO_LONG')}}</p>
    </div>
{% endif %}

    <div style='margin:10px'>
        <a href='/'>{{_('[HOME]')}}</a>
        {% if not error_type %}
            <a href='/{{ paste.id }}'>{{_('[VIEW_PASTE]')}}</a>
        {% endif %}
    </div>

{% endblock %}
