{% extends "base.html" %}
{% block title %}{{ super() }} - {{ paste.id }}{% endblock %}
{% block head %}
{{ super() }}
    <script src="/static/js/clipboard.min.js"></script>
{% endblock %}
{% block body %}
    <p style="float:left">
        <a href='/'>{{_('[HOME]')}}</a>
    </p>
{% if format == "need auth" %}
<div style='clear: both'>
    {{_('INPUT_PASSWORD')}}
    <form action="" method='GET' accept-charset="utf-8">
        <div><input name="auth" type="password"></div>
        <div><input type="submit" value="{{_('SUBMIT')}}"></div>
    </form>
</div>
{% elif format == "plain" %}
    {% include 'plain.html' %}

{% elif format == "markdown" %}
    {% include 'markdown.html' %}

{% elif format == "all" %}
    <div style='clear:both'>
        {{ list_pastes(recent_pastes, 100) }}
    </div>
{% else %}
    <div style='clear:both'>
        <p>{{_('CONTENT_NOT_FOUND')}} </p>
    </div>
{% endif %}
{% endblock %}
