.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 20px;
}
.markdown-body code {
    font-family: monospace, monospace;
    font-size: 1em;
    display: block;
    white-space: pre;
    padding-left: 0.8em;
}

.markdown-body pre {
    white-space: pre-wrap;
}

.markdown-body code::before,
.markdown-body code::after {
    letter-spacing: 0em;
    content: "";
}

input[type="text"], input[type="password"], textarea {
  display: block;
  margin: 0;
  width: 100%;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
  outline: none;
}

input[type="text"], input[type="password"], textarea {
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

input[type="submit"], input[type="button"]{
    margin: 5px 0;
    padding: 2px 10px;
    border: 1px solid #dcdcdc !important;
    text-decoration:none !important;
    transition: box-shadow 0.3s, border 0.3s;
}
input[type="submit"]:focus, input[type="button"]:focus {
    border: 1px solid #707070 !important;
    box-shadow: 0 0 5px 1px #969696;
}

.markdown-body hr {
    width: 80%;
    height: 1px;
}
